<div class="finder_header">
  <div class="finder_pathbar">
    <a href="/" class="apathbar"><i class="fa-solid fa-house-chimney"></i></a>
  <% let count = 0; %>
  <% for (let i = 0; i < path.length; i++) { %>
    <% if (path[i].length == 0) continue; %> 
    <span> /
    <% if (i < path.length - 2) { %>
    <a href="<%= path.slice(0, i+1).join("/") %>" class="apathbar"><%= path[i] %> </a>
    <% } else { %>
     <%= path[i] %> 
    <% } %>
    </span>
    <% count ++; %>
  <% } %>
  <% if (count == 0) { %>
    <span> / </span>
  <% } %>

  </div>
  <div class="finder_zoombar">
    <div class="zoom_area"></div>
    <div class="zoom_ball"></div>
  </div>
</div>
<div class="panelContainer">
  <div class="finder_left panel">
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fa-solid fa-folder-closed"></i></span><a href='#' class="finder_folder">../</a></li>
      <% for (let f of list) { %>
      <li>
        <% if (f.at(-1) == '/') { %>
        <span class="fa-li"><i class="fa-regular fa-folder"></i></span>
        <% } else if (["png", "jpg"].includes(f.split(".").pop())) { %>
        <span class="fa-li"><i class="fa-regular fa-image"></i></span>
        <% } else if (["mp4"].includes(f.split(".").pop())) { %>
        <span class="fa-li"><i class="fa-regular fa-circle-play"></i></span>
        <% } else { %>
        <span class="fa-li">-</span>
        <% } %>
      <a href="#" class="finder_folder"><%= f %></a></li>
      <% } %>
    </ul>
  </div>
  <div class="slider"></div>
  <div class="finder_right panel flex-container">
    <% for (let img of rawimglist) { %>
      <div>
        <a href='<%= img.fullpath %>' class='aopen' imgpath='<%= img.fullpath %>'>
        <div class="finder_image">
          <% if (img.basename.endsWith(".mp4")) { %>
          <video loop src='/<%= img.fullpath %>' autoplay muted></video>
          <% } else if (img.basename.endsWith(".png") || img.basename.endsWith(".jpg")) { %>
          <img src='/<%= img.fullpath %>' loading="lazy">
          <% } else if (img.fullpath.endsWith("/")) { %>
          <div class="folder_icon" style="font-size: 100px">
            <i class="fa-solid fa-folder"></i>
          </div>
          <% } else { %>
          <div class="file_icon" style="font-size: 100px">
            <i class="fa-regular fa-file"></i>
          </div>
          <% } %>
        </div>
        <div class="finder_label">
          <%= img.basename %>
        </div>
        </a>
      </div>
    <% } %>
    <% if (rawimglist.length == 0) { %>
    <span class="noimage">This folder contains no images</span>
    <% } %>
  </div>
</div>
