<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/static/jquery.slider.js"></script>
	<script src="/static/winbox.bundle.min.js"></script>
<style>

.a_dir {
  color: #d60000;
}
.a_file {
  color: #696969;
}
.a_img {
  color: #007747;
}
.a_video {
  color: #08089a;
}
.divfix {
  word-break: break-all;
}
.flex-container img, video {
  width: 200px;
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-container > div {
  background-color: #f1f1f1;
  margin: 2px;
  padding: 2px;
  word-break: break-all;
  border-radius: 2px;
}

#panelContainer {
  display: flex;
  flex-direction: row;
  color: #fff;
  flex: 1;
}
.panel {
  position: relative;
  width: 50%;
}
.one {
  width: 25%;
}

.slider {
  z-index: 1;
  display: none;
  position: absolute;
  width: 5px;
  background-color: #BBBBBB;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
  user-select: none;
  cursor: col-resize;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.filelink{
  font-size: 12px;
}

.filename {
  text-align: center;
}

.preview {
  height: 200px;
  vertical-align: middle;

}
.urlpath {
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.button {
  background-color: white; 
  border: 2px solid #555555;
  color: black;
  padding: 2px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 6px;
}
#mainviewer {
  display: none;
}
.flex-adaptive ul {
  display: flex;
  flex-wrap: wrap; 
}
.flex-adaptive li {
  /* height: 40vh; */
  flex-grow: 1;
  text-align: center;
  margin: 4px;
  padding: 4px;
  border-radius: 2px;
  background-color: #f1f1f1;
}
.flex-adaptive img {
  max-height: 100%;
  min-width: 100%;
  /* object-fit: cover; */
  object-fit: contain;
  vertical-align: bottom;
}
/* .flex-adaptive li:last-child { */
  /* flex-grow: 10; */
/* } */

</style>
</head>
<body>

  <div class="wrapper">
		<div id="panelContainer">
			<div class="panel one">
        <div id="menu">
          <button class="button" id="size_decrease">-</button> 
          <button class="button" id="size_increase">+</button> 
        </div>
				<div class="content divfix">
        <%- content %>
				</div>
			</div>
			<div class="panel two">
				<div class="content">

<!--
<div class="flex-adaptive">
<ul>
<% for (let img of rawimglist) { %>
<li>
    <a href='/live/<%= img.fullpath %>' class='apreview'>
    <% if (img.basename.endsWith(".mp4")) { %>
    <video loop src='/<%= img.fullpath %>' autoplay muted></video>
    <% } else { %>
    <img src='/<%= img.fullpath %>' loading="lazy">
    <% } %>
    </a><br>
      <a href='/live/<%= img.fullpath %>' class='filelink'><%= img.basename %></a>
</li>
<% } %>
</ul>
</div>
-->
<div class="flex-container" id="mainviewer">
<% for (let img of rawimglist) { %>
  <div>
    
    <table><tr><td class="preview">
    <a href='/live/<%= img.fullpath %>' class='apreview' imgpath='<%= img.fullpath %>'>
    <% if (img.basename.endsWith(".mp4")) { %>
    <video loop src='/<%= img.fullpath %>' autoplay muted></video>
    <% } else { %>
    <img src='/<%= img.fullpath %>' loading="lazy">
    <% } %>
    </a>
    </td></tr><tr><td class="filename">
        <a href='/live/<%= img.fullpath %>' class='filelink'><%= img.basename %></a>
      </td></tr></table>
    
  </div>
<% } %>
</div>
				</div>
				<span class="slider"></span>
			</div>
		</div>
		<footer>Footer</footer>
	</div>

</body>
</html>
